@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f2f5;
}

.home-container {
  padding: 2.5rem;
  background-color: #f7f9fc;
  max-width: 1200px;
  margin: 2rem auto;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  color: #e67e22;
  margin-bottom: 1rem;
  font-weight: 600;
}

p {
  font-size: 1.2rem;
  color: #7f8c8d;
  margin-bottom: 2rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.5rem;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.5s ease-in;
}

th, td {
  padding: 14px 22px;
  text-align: left;
  border: 1px solid #ecf0f1;
}

th {
  background-color: #34495e;
  color: white;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
}

/* Igualar ancho de columnas */
/* th:first-child,
td:first-child {
  width: 50%;
}

th:last-child,
td:last-child {
  width: 50%;
} */
th, td {
  width: 20%; /* 5 columnas, por eso 100 / 5 = 20% */
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f0f5fa;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f0f5fa;
}

.no-data {
  text-align: center;
  color: #bdc3c7;
  font-style: italic;
}

.btn-handover {
  background-color: #e67e22;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-handover:hover {
  background-color: #d35400;
  transform: scale(1.03);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 1rem;
  }

  table {
    font-size: 0.9rem;
  }
}